# ========================
# CMake build artifacts
# ========================
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build.ninja
*.dir
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib

# ========================
# VSCodeCounter
# ========================
.VSCodeCounter/

# ========================
# Logs
# ========================
*.log

# ========================
# IDE / Editor files
# ========================
.vscode/
.zed/
*.code-workspace
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# ========================
# OS specific
# ========================
.DS_Store
Thumbs.db

# ========================
# Resources
# ========================
# Ignore all subfolders inside resources
/resources/*/

# But keep root-level files directly in resources
!/resources/*
